*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/keystore.properties
/repositorio_chaves.jks
/coleta_eletronica.jks
/app/src/main/java/pneus/vachileski_mobi_funcoes_genericas/DadosBD.java